{% extends 'main.html' %}
<h1>FILMS</h1>
{% block content %}
<style>
    .home-container{
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
    }
    .containere {
        position: relative;
        width: 1000px;
        
    }

    .inlineLeft, .inlineRight {
        position: absolute;
        display: inline;
    }

.inlineRight {
        right: 0;
}

</style>

<div class="home-container">
    <div>
        <h3>Browse Genres</h3>
        <hr style="width: 250px">
        <div>
            <a href="{% url 'home' %}">All</a>
        </div>
        {% for genre in genres %}
            <div>
                <a href="{% url 'home' %}?q={{genre.name}}">{{genre.name}}</a>
            </div>
        {% endfor %}
    </div>

    <div>
        
        <div class="containere">
            <a class="inlineLeft"href="{% url 'create-film' %}">Add Film </a>
            <a class="inlineRight" href="{% url 'create-director' %}">Add Director </a>
        </div>
        
        <h5>{{film_count}} Films available</h5>
        <div>
            {% for film in films %}
                <div>
                    <small><a href="{% url 'update-film' film.id %}">Edit</a></small>
                    <small><a href="{% url 'delete-film' film.id %}">Delete</a></small><br>
                    <span>By: {{film.author.name}} {{film.author.last_name}}</span>
                    <h2>{{film.id}} -- <a href="{% url 'film' film.id %}">{{film.name}}</h2></a>
                    <small>{{film.author.name}}</small>
                    <hr>
                </div>
            {% endfor %}
        </div>
    </div>
    
    <div>
        <h3>Browse Directors</h3>
        <hr>
        <div>
            <a href="{% url 'home' %}">All</a>
        </div>
        {% for director in directors %}
            <div>
                <a href="{% url 'home' %}?q={{director.name}}">{{director.name}}</a>
            </div>
        {% endfor %}
    </div>

    
</div>
{% endblock %}
